
* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	background: url(https://images.unsplash.com/photo-1484821582734-6c6c9f99a672?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=891&q=80);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #f1f1f1;
	text-align: center;
	box-shadow: 0 2px 4px 1px rgba(0,0,0,0.16);
}

h2 {
	color: orchid;
	font-size: 35px;
	font-family: Times New Roman;
	text-align: center;
	padding: 20 0 20px;
}

form {
		padding: 0 0 10px;
		margin: auto;
		position: center;
		width: 600px;
		border-radius: 5px;
}

.container {
	position: absolute;
	right: 430px;
	margin: 10px;
	position: center;
	padding: 5px;
	max-width: 500px;
}

/* Add Transparent functionallity for an image text */
.content {
	position: absolute;
	color: white;
	/*width: 600px;*/
	border-radius: 15px;
	padding: 20px;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5);
}

input[type=text],
input[type=password] {
		width: 100%;
		padding: 10px 30px;
		margin: 8px 0;
		display: inline-block;
		border: 1px solid grey;
		border-radius: 4px;
		box-sizing: border-box;
		font-family: Times New Roman;
		font-size: 19px;
		background-color: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
		/*background-color: #ddd;*/
		outline: none;
		background-image: linear-gradient(to left, rgba(150,0,0,0), steelblue);
}

.input_fields {
	font-family: Times New Roman;
	font-size: 19px;
	padding: 30px 30px;
	text-align: left;
	width: 100%;
	background-image: linear-gradient(to left, rgba(150,0,0,0), cadetblue);
}

#submit {
	font-size: 20px;
	color: white;
	margin: 8px 0;
	overflow: hidden;
	cursor: pointer;
	padding: 10px 20px;
	width: 100%;
	font-size: 20px;
	border: none;
	border-radius: 4px;
	background-color: #4CAF50;
}

#submit:hover {
	background-color: green;
}

.login {
	background-image: linear-gradient(rgba(150,0,0,0), steelblue, rgba(150,0,0,0));
}
