<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Akhilworld</title>
    <!-- Add title bar icon -->
    <link rel="icon" href="{%static 'images/akki.png'%}" type="image/icon type">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
    crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'css/home.css' %}">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <div class="container">
          <h1> Welcome to Akhilworld </h1>
          <a class="btn btn-primary btn-lg" href="/register" role="button">Register</a>&nbsp&nbsp&nbsp&nbsp&nbsp
          <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>&nbsp&nbsp&nbsp&nbsp&nbsp
          <a class="btn btn-primary btn-lg" href="/showstudents" role="button">Show Students</a>&nbsp&nbsp&nbsp&nbsp&nbsp
          <!-- <a class="btn btn-primary btn-lg" href="/display" role="button">Display Students Record</a>&nbsp&nbsp&nbsp&nbsp&nbsp -->
        </div>
      </div>
    </div>


    <!-- <div class="container">
      <img src="{%static 'images/akki.jpg'%}" alt="No iamges found">
    </div> -->

  </body>
</html>
